#### Project Title

- Leslie Cohrt: put their contribution here
- Sarah Auther: put their contribution here
- Shoshana Medved: put their contribution here

#### Introduction

blah blah blah blah blah AI becoming more common, free to use, etc, people are developing a relationship with it, idk

- How have people's opinions of ChatGPT evolved as its usage has become more normalized?
- What generates the most reaction between real people when talking about ChatGPT?

Detailed description of dataset

In [2]:
import pandas as pd

df = pd.read_csv("chatgpt.data.csv")
df.head()

,tweet_id,created_at,like_count,quote_count,reply_count,retweet_count,tweet,country,photo_url,city,country_code
0,1.598010e+18,2022-11-30 18:00:15+00:00,2,0,0,0,ChatGPT: Optimizing Language Models for Dialog...,NaN,NaN,NaN,NaN
1,1.598010e+18,2022-11-30 18:02:06+00:00,12179,889,1130,3252,"Try talking with ChatGPT, our new AI system wh...",NaN,NaN,NaN,NaN
2,1.598010e+18,2022-11-30 18:02:58+00:00,2,0,0,1,ChatGPT: Optimizing Language Models for Dialog...,NaN,https://pbs.twimg.com/media/Fi1J8HbWAAMv_yi.jpg,NaN,NaN
3,1.598020e+18,2022-11-30 18:05:58+00:00,561,8,25,66,"THRILLED to share that ChatGPT, our new model ...",NaN,https://pbs.twimg.com/media/Fi1Km3WUYAAfzHS.jpg,NaN,NaN
4,1.598020e+18,2022-11-30 18:06:01+00:00,1,0,0,0,"As of 2 minutes ago, @OpenAI released their ne...",NaN,NaN,NaN,NaN

In [43]:
# preprocessing

import numpy as np

df1 = df.fillna(value=0)
df1 = df1.loc[df1["like_count"] != 0]

df1.describe()

,tweet_id,like_count,quote_count,reply_count,retweet_count
count,1.201360e+05,120136.000000,120136.000000,120136.000000,120136.000000
mean,1.602453e+18,30.716463,0.716072,2.120688,4.155083
std,2.985152e+15,658.769995,19.037848,34.355344,85.684421
min,1.598010e+18,1.000000,0.000000,0.000000,0.000000
25%,1.600020e+18,1.000000,0.000000,0.000000,0.000000
50%,1.601650e+18,2.000000,0.000000,0.000000,0.000000
75%,1.604640e+18,6.000000,0.000000,1.000000,1.000000
max,1.609340e+18,119321.000000,4598.000000,5184.000000,10593.000000

Our research questions are about shared public opinion and about opinions that generate conversation and response. Tweets with no likes are not indicative of opinions shared by many and do not generate response, so we removed them from the dataset.

In [35]:
!pip install nltk

import nltk

nltk.download('punkt')
from nltk.tokenize import word_tokenize, sent_tokenize

nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

!pip install textblob
from textblob import TextBlob

import re

Requirement already satisfied: nltk in /opt/conda/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.65.0)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.10/site-packages (from nltk) (2023.5.5)

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Requirement already satisfied: textblob in /opt/conda/lib/python3.10/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /opt/conda/lib/python3.10/site-packages (from textblob) (3.8.1)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.10/site-packages (from nltk>=3.1->textblob) (2023.5.5)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk>=3.1->textblob) (4.65.0)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk>=3.1->textblob) (8.1.3)

In [45]:
# Word tokenization    
text = df1['tweet'].apply(word_tokenize)

In [46]:
print(text)

0         [ChatGPT, :, Optimizing, Language, Models, for...
1         [Try, talking, with, ChatGPT, ,, our, new, AI,...
2         [ChatGPT, :, Optimizing, Language, Models, for...
3         [THRILLED, to, share, that, ChatGPT, ,, our, n...
4         [As, of, 2, minutes, ago, ,, @, OpenAI, releas...
                                ...
219287    [One, of, my, new, favorite, thing, to, do, wi...
219288    [Sounds, like, AI, ca, n't, predict, 2023, tre...
219290    [I, asked, #, ChatGPT, to, write, a, #, NYE, J...
219291    [chatgpt, is, being, disassembled, until, it, ...
219292    [2023, predictions, by, #, chatGPT, ., Nothing...
Name: tweet, Length: 120136, dtype: object

In [47]:
import string

In [28]:
exclude = set(string.punctuation)
stop = set(stopwords.words('english'))

print(stop)
print(exclude)

{'which', 'some', 'wouldn', "it's", "isn't", "weren't", 'isn', 'she', 'that', 'or', "didn't", 'i', "shouldn't", 'these', 'we', 'the', 'at', 'now', 'll', 'on', 'again', 'below', 'you', 'few', 'yours', 'himself', 'weren', 'themselves', 'd', 'whom', "doesn't", 'here', "wasn't", 'who', 'haven', 'o', "don't", 'a', 'out', 'our', "should've", 'be', 'no', 'against', 'after', 'how', 'they', 'hers', "aren't", 'those', "you'll", 'because', 'about', 'myself', 'same', 'for', 'up', "hadn't", "you'd", 'by', 'before', 'can', 'yourself', "that'll", 'shouldn', 'just', 'didn', "shan't", 'my', 'should', 'needn', "you've", 'couldn', 'mightn', 'its', 'your', 'his', 'doing', 'to', 'both', 'will', 'don', 'this', 'once', 'me', 'such', "mustn't", 'until', 'has', 'do', 'their', 'if', 'does', 'own', 'each', 're', 'there', 'aren', 'was', 'very', 'an', 'not', "wouldn't", 'them', 'only', 'ourselves', 'in', 'm', 'more', "hasn't", 'then', 'ours', 'him', 'mustn', 'under', 'shan', 'and', 'with', 'did', 't', 'all', "you're", "won't", "haven't", 'being', 'herself', 'into', 'been', 'than', 'it', 'from', 've', 'hasn', "needn't", 'itself', 'other', 'so', 'doesn', 'further', 's', 'am', 'had', 'are', 'why', 'nor', "she's", 'during', 'too', 'wasn', 'most', 'y', 'her', 'while', 'theirs', 'as', 'any', 'is', 'over', "mightn't", 'he', "couldn't", 'yourselves', 'ain', 'hadn', 'where', 'down', 'between', 'have', 'having', 'what', 'won', 'were', 'above', 'through', 'but', 'ma', 'off', 'of', 'when'}
{'>', '"', '\\', '#', '-', '}', ';', '*', '^', '<', '`', "'", '?', '$', '@', '/', ',', '[', '=', '_', '!', ')', '+', '{', '|', '.', '%', ':', ']', '~', '(', '&'}

In [48]:
filtered_tokens = []
for token in text:
    for word in token:
        if word.lower() not in exclude:
            if word.lower() not in stop:
                filtered_tokens.append(word)

In [49]:
print(filtered_tokens)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

#### How have people's opinions of ChatGPT evolved as its usage has become more normalized?
- sentiment analysis
- dependency parsing

#### What generates the most reaction between real people when talking about ChatGPT?
- sentiment analysis